ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=your-key-here #format=string
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=your-key-here #format=string
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=your-key-here #format=string
ALBERT_API_KEY=your_api_key_here #required,format=string
APPLICATION_HOST=http://localhost:3000 #required,format=url
APP_ENV=development #required,format=string
BREVO_API_KEY=your_brevo_api_key_here #format=string
BREVO_SMTP_USER_NAME=your_brevo_smtp_user_name_here #format=string
BREVO_SMTP_USER_PASSWORD=your_brevo_smtp_user_password_here #format=string
DATABASE_URL=postgres://user:password@localhost:5432/mydb #required,format=string
FRONTEND_APPLICATION_HOST=http://localhost:3001 #required,format=url
GOOD_JOB_PASSWORD=your_good_job_password #required,format=string
GOOD_JOB_USERNAME=your_good_job_username #required,format=string
INBOUND_MAIL_DOMAIN=your_inbound_mail_domain_here #format=string
MISTRAL_API_KEY=your_mistral_api_key_here #required,format=string
REDIS_URL=redis://redis:6379/1 #required,format=string
RAILS_INBOUND_EMAIL_PASSWORD=secret_hash_here #format=string
