<p>Dossier en cours d'analyse</p>

<p>Votre dossier a bien été reçu et est en cours d'analyse.</p>

<p>Vous pouvez suivre l'analyse et les résultats dès qu'ils seront disponibles à l'adresse :</p>

<p><%= link_to @quotes_case.frontend_webapp_url(mtm_campaign: "full_email"), @quotes_case.frontend_webapp_url(mtm_campaign: "full_email") %></p>
