---
http_interactions:
- request:
    method: get
    uri: https://data.ademe.fr/data-fair/api/v1/datasets/historique-rge/lines?qs=siret:12345678900000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Resource:
      - '{"type":"datasets","id":"historique-rge","title":"Historique%20des%20entreprises%20RGE%20depuis%202014"}'
      X-Owner:
      - '{"type":"organization","id":"g1pKfMqaE"}'
      X-Operation:
      - '{"class":"read","id":"readLines","track":"readDataAPI"}'
      Last-Modified:
      - Fri, 26 Dec 2025 04:04:11 GMT
      Etag:
      - W/"18-m7KNrmhEci8000BLQz8fM7z0kF0"
    body:
      encoding: UTF-8
      string: '{"total":0,"results":[]}'
  recorded_at: Fri, 26 Dec 2025 09:49:16 GMT
recorded_with: VCR 6.3.1
