<p>Devis en cours d'analyse</p>

<p>Votre document a bien été reçu et est en cours d'analyse.</p>

<p>Vous pouvez suivre l'analyse et les résultats dès qu'ils seront disponibles à l'adresse :</p>

<p><%= link_to @quote_check.frontend_webapp_url(mtm_campaign: "full_email"), @quote_check.frontend_webapp_url(mtm_campaign: "full_email") %></p>
