---
http_interactions:
- request:
    method: get
    uri: https://albert.api.etalab.gouv.fr/v1/models
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALBERT_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","data":[{"id":"albert-small","created":1748359120,"object":"model","owned_by":"Albert
        API","max_context_length":64000,"type":"text-generation","aliases":["meta-llama/Llama-3.1-8B-Instruct"]},{"id":"embeddings-small","created":1748359120,"object":"model","owned_by":"Albert
        API","max_context_length":8192,"type":"text-embeddings-inference","aliases":["BAAI/bge-m3"]},{"id":"audio-large","created":1748359120,"object":"model","owned_by":"Albert
        API","max_context_length":null,"type":"automatic-speech-recognition","aliases":["openai/whisper-large-v3"]},{"id":"AgentPublic/llama3-instruct-guillaumetell","created":1748359120,"object":"model","owned_by":"Albert
        API","max_context_length":8192,"type":"text-generation","aliases":[]},{"id":"AgentPublic/albert-spp-8b","created":1748359120,"object":"model","owned_by":"Albert
        API","max_context_length":46000,"type":"text-generation","aliases":[]},{"id":"rerank-small","created":1748359120,"object":"model","owned_by":"Albert
        API","max_context_length":8192,"type":"text-classification","aliases":["BAAI/bge-reranker-v2-m3"]},{"id":"albert-large","created":1748359120,"object":"model","owned_by":"Albert
        API","max_context_length":128000,"type":"image-text-to-text","aliases":["mistralai/Mistral-Small-3.1-24B-Instruct-2503"]},{"id":"neuralmagic/Meta-Llama-3.1-70B-Instruct-FP8","created":1748359120,"object":"model","owned_by":"Albert
        API","max_context_length":24000,"type":"text-generation","aliases":[]}]}'
  recorded_at: Fri, 06 Jun 2025 16:24:02 GMT
recorded_with: VCR 6.3.1
